body {
    background-color: #e8e8e8;
}

.navbar-inverse {
  background-color: #5fb677;
  border-color: #5fb677;
}

.navbar-inverse .navbar-nav > li > a {
  color: #e1ebc1;
}

.navbar-inverse .navbar-brand {
    color: #e1ebc1;
}

#contenedor{
    width:40em;
    margin: 0 auto;
}
.contenedor{
    margin-top: 10em;
    width: 40em;
    margin-left:auto;
    margin-right: auto;
}
.titulo{
    color: #5fb677;
      margin: 0 5em;
}